body{
    padding: 0px;
    margin: 0px;
    
    /*  */
    text-align: center;
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
    /* Full height */
    height: 100%;

}

div {
    font-family: roboto;
}

/* .bg-photo {
    background-image: url("./business-men-drive-cars-their-cars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: aqua;
    height: auto;
    width: 100%;
} */

.containers {
    padding: 0px;
    /*  */
    background-color: #D8D8D8;
    height: 100vh;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-rows: 20% auto;
    grid-template-areas: 
    "entete"
    "corps-page";
    /* height: 150vh; */
    /* display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 100px 500px 40% 40% 100px;
    grid-template-areas: 
    "haut-de-page haut-de-page haut-de-page"
    "corps-page corps-page corps-page"
    "secutite secutite secutite"
    "rapidite rapidite rapidite"
    "bas-de-page bas-de-page bas-de-page";
    background-image: url("./business-men-drive-cars-their-cars.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.corps-page {
    grid-area: "corps-page";
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50%; */
    width: 100vw;
    margin: 5px 0px;
}

.entete {
    grid-area: "entete";
    display: gird;
    text-align: center;
    background-color: white;
    /* align-content: center; */
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px;
    grid-template-areas: 
    "entete-1"
    "entete-2";
    /* height: 150px; */
    width: 100vw;
    /* margin-bottom: 5px solide red; */
    /*  */
    border: 1px solid #B2B2B2;
    padding: 0px;
    box-shadow: 0px 2px 5px #B2B2B2;
}

.accueil {
    
}


@font-face {
    font-family: chbd;
    font-weight: bold;
    src: url("CooperHewitt-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: chbo;
    src: url("CooperHewitt-Book.otf") format("opentype");
  }
  @font-face {
    font-family: chbi;
    src: url("CooperHewitt-BookItalic.otf") format("opentype");
  }
  @font-face {
    font-family: chl;
    src: url("CooperHewitt-Light.otf") format("opentype");
  }
  @font-face {
    font-family: chli;
    src: url("CooperHewitt-LightItalic.otf") format("opentype");
  }
  @font-face {
    font-family: chs;
    font-weight: bold;
    src: url("CooperHewitt-Semibold.otf") format("opentype");
  }
  @font-face {
    font-family: cht;
    src: url("CooperHewitt-Thin.otf") format("opentype");
  }
  @font-face {
    font-family: chti;
    src: url("CooperHewitt-ThinItalic.otf") format("opentype");
  }

  /*  */

  .titre {
    font-family: chbd, chs, Georgia, Times, 'Times New Roman', serif;
    color: blue;
  }

  .sous-titre {
    font-family: chs, chl, Georgia, Times, 'Times New Roman', serif;
  }
  